@import url('https://fonts.googleapis.com/css?family=Roboto');

h2{
    
    font-family: 'Roboto', Arial, Helvetica, Helvetica Neue, sans-serif;
    font-size: 2em;
    border: solid 2px #DDD;
    padding: 14px;
    width: 60%;

        
}
#theForm {
color:black;
font-size: 1em;
padding: 40px;
font-family: 'Roboto', Arial, Helvetica, Helvetica Neue, sans-serif;
background-color: #F5F5F5;
text-align: left;
border: solid 2px #DDD;
width: 60%;
float: left;
padding-top: 10px;
 
}

.row {
display: table-row;
padding: 5px;

}
 
.row label {
display: table-cell;
padding: 7px;
text-align:left;
 
}
 
.row input {

padding: 20px;
}

.submit {
    padding:55px 15px; 
    background:#6495ED;
    border:25px;
   
}


